# Node
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Logs
logs/
*.log
npm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# Build output
build/
dist/
frontend/build/

# Coverage
coverage/
**/coverage/

# VSCode
.vscode/
